@import "../../../styles/colors-token.scss";

$component: '.task-list-wrapper';

#{$component} {

    margin-top: 4rem;

    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__list-wrapper {
        border-top: 1px solid $gray-400;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.75rem;
    }

}
